<div class="items-center">
  <%= form_for :flight_search, url: search_flights_path, method: :get, html: { class: 'max-w-md mx-auto' } do |f| %>
    <div class="mb-4">
      <%= f.label :from, class: 'mb-2' %>
      <%= f.text_field :from, class: '' %>
    </div>
    <div class="mb-4">
      <%= f.label :to, class: 'mb-6 mt-6' %>
      <%= f.text_field :to, class: 'form-input' %>
    </div>
    <div class="mb-4">
      <%= f.label :depart, class: '' %>
      <%= f.date_select :depart, class: '' %>
    </div>
    <div class="mb-4">
      <%= f.label :return, class: '' %>
      <%= f.date_select :return, class: '' %>
    </div>
    <div class="mb-4">
      <%= f.label :passengers, class: '' %>
      <%= f.number_field :passengers, class: '' %>
    </div>
    <div class="text-center">
      <%= f.button :submit, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
    </div>
  <% end %>
</div>

